@charset "utf-8";
.h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 15px;
}
.parrafo .image {
}

.parrafo {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #2E2E2E;
}
.parrafo2 {
    color: #2A2A2A;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.image {
    text-align: center;
}
body table {
}
.tabla {
    margin-right: auto;
    margin-left: auto;
    background-color: #DFDFDF;
}
.DERECHOS {
    color: #2C2C2C;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
}
